.results {
  margin: 56px 0;
}
.results .resultHeader {
  font-size: 1rem;
  color: #969696;
  margin-bottom: 24px;
}

.results .result {
  padding: 16px;
  background: white;
  border: 1px solid #e0e0e0;
  margin: 24px 0;
}

.result h3 {
  font-size: 1.75rem;
  font-weight: 200;
  margin: 0 0 24px;
}

.result h4 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.result table {
  margin: 0;
}

.result table tr,
.result table td,
.result table th {
  font-size: 0.875rem;
  padding: 6px 0;
}
