header {
  margin: 42px 0 0;
}

a.logo {
  background-image: url("../../img/onegov-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 100px;
  text-indent: -999em;
  display: block;
}

p.message {
  margin-top: 28px;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 1.25;
}

p.message span {
  display: block;
}

p.message a {
  color: #2e61fb;
  font-weight: 700;
}

@media (min-width: 768px) {
  p.message {
    font-size: 2rem;
  }
}
